requests
python-dotenv
google-genai
google-adk 
mcp
google-cloud-aiplatform
google-generativeai
google-cloud-storage
fastapi
uvicorn
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
httpx
openai
crewai
crewai[tools]